<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.stardust.theme">

    <application>
        <activity
            android:name="com.stardust.theme.app.ColorSelectActivity"
            android:theme="@style/MtAppTheme.FullScreen"/>

    </application>

</manifest>
